QListWidget::item:hover
{
    show-decoration-selected:5;
    background:skyblue;
}

QListWidget::item:selected
{
    /*border:0px;*/
    background:lightgray;
    padding:0px;
    margin:0px;
    color:red;
}

/*上次选择后保留的状态，鼠标离开后显示*/
QListWidget::item:selected:!active
{
    border-width:0px;
    background:lightgreen;
}